<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello,  <%= @guest.name %>!</h1>
    <p>Your bags are waiting for you at your room!</p>
  </body>
</html>
