<!-- begin header -->
 <link rel = "stylesheet"
   type = "text/css"
   href = "myStyle.css" />
<div className='trd-tablet-header-base'>
        <div className='trd-body-wrapper'>
          <div className='trd-header-logo'>
            <img src='../assets/V_logo_h_cruises_2x.png' width="320" />
          </div>
        </div>

        <div className='center'>
          <div className='title cruise-hdr-details'>
            Luggage Tracker
          </div>
        </div>
      </div>
