// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* pricing */
/*Gutters*/
/* pricing */
/*Gutters*/
body{
    font-family: "Open Sans",sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    background-color: #fff;
}
.button-disabled {
  color: #cccccc;
  cursor: text;
}

.button-selected {
  color: #ffffff;
  background-color: #44687d;
}

.button-hover {
  border: 1px solid #44687d;
  color: #44687d;
}

.cruise-hdr-details {
    overflow: hidden;
    background: #2b3d52;
    position: relative;
    height: 60px;
}
.cruise-hdr{    overflow: hidden;
    color: #fff;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    max-width: 1400px;
    z-index: 999;
}
.trd-header-logo{
    padding-top:10px;
    text-align: center;
}
.fypc-button {
  -webkit-appearance: none;
  cursor: pointer;
  border: 1px solid #555555;
  background: #555555;
  color: #ffffff;
  font-family: brandon-grotesque, Open Sans, Arial, Helvetica, Sans-Serif ;
  font-weight: 400;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
  white-space: nowrap;
  height: auto;
  line-height: normal;
  margin: 0;
  width: 100%;
  padding: .5em;
}

body.white-alpha {
  background-color: rgba(255, 255, 255, 0.25);
}

.v-align-middle {
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

 .title {
  font-family: adobe-garamond-pro, GaramondPro Regular, Garamond, EB Garamond, Times New Roman, Serif ;
  color: #ffffff;
  font-size: 2.6em;
  text-align: center;
}
.trd-body-wrapper .title a {
  color: #000000;
}
h3 {
    font-family: adobe-garamond-pro,GaramondPro Regular,Garamond,EB Garamond,Times New Roman,Serif;
    font-size: 36px;
    margin-bottom: 32px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: normal;
    padding: 8px 36px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 1px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    letter-spacing: 0.03em;
    position: relative;
}
.btn-rivers.btn-primary-rivers {
    background-color: #44687D;
    color: #FFFFFF;
}
.btn-rivers.btn-primary-rivers {
    background-color: #44687D;
    color: #FFFFFF;
}
.btn-red {
    color: #fff;
    background-color: #b10a32;
    border-color: #b10a32;
}
.btn-rivers {
    font-family: 'brandon-grotesque', sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.05em;
    background-color: #FFFFFF;
    color: #44687D;
    text-transform: uppercase;
    border: 1px solid #44687D;
    padding: 12px 36px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    position: relative;
}

.header-hr {
  width: 10%;
  margin: 0 auto;
}
.center{
    text-align: center;
}
.header-subtitle {
  font-family: brandon-grotesque, Open Sans, Arial, Helvetica, Sans-Serif ;
  font-weight: 500;
  color: #000000;
  font-size: 1.5em;
  text-align: center;
  margin: 1em 0 .5em 0;
  text-transform: none;
}

.camIcon{
    position: absolute;
    padding-top:50px;
    background-image: url( ../assets/camera_icon.png);
        background-position: 0px 5px;
    background-size: contain;
    background-repeat: no-repeat;
    border: 2px solid;
    border-radius: 100%;
    padding: 0px;
    display: inline-block;
    height: 30px;
    width: 30px;
    margin-left: -18px;
    margin-top:-5px;
}
.btnText{
    margin-left:20px;
    display: inline-block;
}
p{
        font-size: 16px;
    letter-spacing: .025em;
    margin: 0 0 10.5px;

}
.head-line {
    position: relative;
    text-align: center;
    margin-top: 0;
    margin-bottom: 18px;
    font-family: brandon-grotesque,Open Sans,Arial,Helvetica,Sans-Serif;
    font-weight: 500;
    font-size: 26px;
    font-weight: 500;
}
.trd-footer-links-title-container {
   // border-bottom: 1px solid #e6e6e6;
    margin-bottom: 4px;
    margin-top: 30px;
}
.trd-status {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #b10a32;
    color: #fff;
    font-size: 20px;
}
.lrg{
    font-size: 20px;
}
hr{
    width:70%;

}
h4{
    color: #2b3d52;
  
}
.copy-block-container {

    padding: 40px;
    z-index: 5;
    border: 1px solid #b8af80;
    border-top-width: 6px;
    background: #fff;
}
.floatRight{
    float:right;
}
.links-cell {
    display: block;
    vertical-align: top;
    font-family: Open Sans,open-sans,Arial,Helvetica,Sans-Serif;
    font-size: 14px;
    color: #666;
    padding-top: 24px;
    padding-right: 0;
    height: auto;
    width: 100%;
    max-width: 280px;
    margin: auto;
    float: none;
}
/*beging copied styles //TODO delete anything not used*/
/*.trd-cruise-portal {*/
.main-content {
  margin: 0;
}
@media screen and (max-width: 1400px) {
  .main-content {
    margin: 0 0;
  }
}
.header-base {
    border-bottom: 1px #666 solid;
    height: 51px;
}

.trd-desktop-header-base {
  border-bottom: 1px #666 solid;
}

.desktop .trd-header-canvas {
  border-bottom: none;
}

.trd-body-wrapper, .trd-footer-canvas {
  width: 100%;
  max-width: 100%;
}

.trd-footer-links, .trd-footer-promo-container {
  max-width: 1328px;
}
.trd-footer-links-title {
    padding: 0 0 10px;
    text-transform: uppercase;
    font-family: Open Sans,open-sans,Arial,Helvetica,Sans-Serif;
    font-size: 16px;
    color: #666;
    font-weight: 600;
    line-height: 1.1em;
    letter-spacing: .05em;
    text-align: center;
}
#portal-content {
  padding-bottom: 0;
}
@media screen and (min-width: 1366px) {
  #portal-content {
    padding-bottom: 42px;
  }
  #portal-content.dropdown-portal {
    padding-bottom: 0;
  }
}
#portal-content .portal_text {
  height: 60px;
  line-height: 58px;
  background: url(/content/images/v2/gradients/th.jpg) repeat scroll center center #F2F2F2;
  color: #333;
  font-size: 22px;
  font-style: normal;
  letter-spacing: 1.1px;
  padding: 0;
  font-family: brandon_grotesque_medium, brandon-grotesque-n5, brandon_grotesque_regular, brandon-grotesque, sans-serif;
  text-transform: capitalize;
  -webkit-transition: top 0.25s ease;
  -o-transition: top 0.25s ease;
  transition: top 0.25s ease;
}
@media screen and (min-width: 1366px) {
  #portal-content .portal_text {
    margin-top: -42px;
    position: absolute;
    width: 100%;
  }
}
@media screen and (min-width: 768px) {
  #portal-content .portal_text .portal-actions {
    width: 100%;
    text-align: center;
    margin: auto;
  }
}
#portal-content .portal_text .portal-actions h3 {
  margin: 0;
}
#portal-content .portal_text .portal-actions h3, #portal-content .portal_text .portal-actions ul {
  display: inline-block;
}
#portal-content .portal_text .portal-actions ul {
  margin: 0;
}
#portal-content .portal_text .portal-actions ul li {
  display: block;
  width: 100%;
}
#portal-content .portal_text .portal-actions ul li a {
  letter-spacing: .06em;
  box-shadow: none;
  font-family: Open Sans Normal,Open Sans,open-sans,Arial,Helvetica,sans-serif;
  font-size: 14px;
  height: 100%;
  text-transform: uppercase;
  text-align: center;
  width: 258px;
  line-height: 46px;
  padding: 0;
  display: block;
}

.slide-image {
  margin-bottom: 0;
  font-family: brandon-grotesque, Open Sans, Arial, Helvetica, Sans-Serif;
  font-weight: 400;
  position: relative;
  overflow: hidden;
  max-height: 100%;
  height: auto !important;
}
.slide-image .thumbnail-img {
  position: relative;
}
.slide-image .thumbnail-img img {
  width: 100%;
}
.slide-image .hero-text {
  margin: 2.5% auto 0;
  width: 100%;
  color: #FFF;
  font-weight: 500;
  font-style: normal;
  padding: 0;
  letter-spacing: 0.05em;
  position: absolute;
  top: 0;
}
.slide-image .hero-text.hero-right {
  right: 0;
  max-width: 100%;
  width: 48%;
  margin-top: 15%;
}
.slide-image .hero-text .caption-wrap {
  height: 100%;
  display: block;
}
.slide-image .hero-text h3 {
  margin: 1% auto 0;
  font-size: 14px;
  line-height: 18px;
  font-family: "adobe-garamond-pro",GaramondPro Regular,Garamond,"EB Garamond",Times New Roman,Serif;
}

.slides, .slides li {
  margin-bottom: 0;
}

#directionNavHover .flex-direction-nav a {
  top: 50%;
}

@media only screen and (max-width: 320px) {
  .main-content .col-xs-6 {
    width: 100% !important;
  }
}
@media screen and (max-width: 767px) {
  #portal-content .portal_text .portal-actions ul {
    width: 100%;
    margin-top: 16px;
  }
  #portal-content .portal_text .portal-actions ul li {
    text-align: center;
  }
  #portal-content .portal_text .portal-actions ul li a {
    min-width: 212px;
    width: 80%;
    margin: 16px auto 0;
  }
  #portal-content .portal_text .portal-actions h3 {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 480px) {
  .slide-image .hero-text.hero-right {
    width: 42%;
    margin-top: 18%;
  }
  .slide-image .hero-text h3 {
    font-size: 18px;
    line-height: 24px;
  }
}
@media screen and (min-width: 768px) {
  .slide-image .hero-text.hero-right {
    right: 0;
    width: 44%;
  }
  .slide-image .hero-text h3 {
    font-size: 24px;
    line-height: 32px;
  }

  #portal-content .portal_text {
    height: 72px;
    line-height: 70px;
  }
  #portal-content .portal_text .portal-actions ul {
    margin-top: 0;
  }
  #portal-content .portal_text .portal-actions ul li:first-child,
  #portal-content .portal_text .portal-actions ul li:last-child {
    width: auto;
    float: none;
    display: inline-block;
  }
  #portal-content .portal_text .portal-actions ul li:first-child a,
  #portal-content .portal_text .portal-actions ul li:last-child a {
    float: none;
    margin: 0;
  }
}
@media screen and (min-width: 1024px) {
  .slide-image .hero-text.hero-right {
    right: 0;
    width: 49%;
    margin-top: 15%;
  }
  .slide-image .hero-text h3 {
    font-size: 28px;
    line-height: 36px;
  }
}
@media screen and (min-width: 1180px) {
  #portal-content:not(.dropdown-portal) {
    /*line-height: 70px;*/
  }

  .slide-image .hero-text h3 {
    font-size: 32px;
    line-height: 38px;
  }
}
@media screen and (min-width: 1366px) {
  .slide-image .hero-text.hero-right {
    right: 0;
    width: 50%;
    margin-top: 15%;
  }
  .slide-image .hero-text h3 {
    max-width: 80%;
    font-size: 36px;
    line-height: 42px;
  }

  .portal_text {
    height: 84px;
    line-height: 82px;
  }
  .portal_text .portal-actions h3 {
    margin: 0 36px 0 0;
  }
}
/* NEW STYLES FOR NEW PORTAL HERE */
.bootstrap-select.btn-group .dropdown-toggle {
  border-color: #999;
  border: 1px solid #999;
}

.home .contentWrapper, .portal .contentWrapper {
  min-height: 0;
  max-width: 1400px;
  margin: 18px auto 0px;
}

.home .mainContent, .portal .mainContent {
  min-height: 0;
  padding: 0 40px;
}

#starting-tooltip,
#starting-tooltip.active {
  display: none !important;
}

.fac-filters-container {
  /*background-color: #ccc;
  color: #000;*/
}

.contentWrapper {
  padding: 0 !important;
}

.fac-filters-container > ul.fac-filters > li .search-submit {
  /* background-color: #b10a32;*/
}

@media screen and (min-width: 1180px) {
  .fac-filters-container {
    /*line-height: 70px;*/
  }
}
#feature_slider.cycle-slideshow-wrapper {
  -webkit-box-shadow: 0 0 0 0 #969696 !important;
  -moz-box-shadow: 0 0 0 0 #969696 !important;
  box-shadow: 0 0 0 0 #969696 !important;
  margin-bottom: 0 !important;
}

#feature_slider.cycle-slideshow-wrapper .feature_text_modded {
  display: none !important;
}

